body{
}
img{width: : 150px;}
h1{
font-size: : 90px;
color:60ff00;
font-family: : Consplas, monaco, monospace;
}
.bgcolor1{background-color:#218e0b;}
.bgcolor2{background-color:#f4f247;}
.bgcolor3{background-color:#bd808c;}
.fcolor1{color:#35e512}
.fcolor2{color:#bd808c;}
.fcolor3{color: #2e4e23;}
.fcolor4{color:#45050d;}
.fstyle{font-family:link href="https://fonts.googleapis.com/css?family=Mukta+Mahee" rel="stylesheet"}